@use "sass:math";

@function rem($px) {
    $result: math.div($px, 16) + rem;
    @return $result; 
}

@function em($px, $fpx) {
    $result: math.div($px, $fpx) + em;
    @return $result; 
}

@mixin fl($px, $lh) {
    font-size: math.div($px, 16) + rem;
    line-height: math.div($lh, $px);
}